/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;}
table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	background: url(pics/bgfull.jpg) no-repeat;
	background-attachment: fixed;
	color: #555;
}

a {

	color: #FF9200;
	text-decoration: none;

}

a:hover {

	color: #444;

}


header {
    font-family:  'Arizonia', cursive;
    font-size: 48px;
	background: #000000;
	color: #FF9200;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #FF9200;
	z-index: 100;
	padding-left: 40px;
	padding-top: 10px;

}

#crew {
    
    display: inline;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    font-family: 'Reenie Beanie', cursive;
    color: #AE0400;
    font-size: 48px;
    
}



nav {
    float: right;
    z-index: 500;
    display: table;
    background: #000000;
    margin-right: 75px;
}
nav ul {
    display: table-row;
    list-style: none;
}
nav  ul li {
    display: table-cell;
    padding: 3px;
}
nav ul li a {
     -webkit-transition: all .2s ease-in-out; 
    width: 80px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 18px;
    display:inline;
    font-weight:bold;
    color:#ffffff;
    text-shadow: 2px 2px 0 #400;
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    background-color:#FF9200;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    float: left;
    padding: 0;
    margin: 0;
}
nav ul li a:hover {
     -webkit-transform: scale(1.1); 
    background: #000000;
}
#active a {
    width: 80px;
    font-family: 'Reenie Beanie', cursive;
    display:inline;
    font-weight:bold;
    color:#ffffff;
    text-shadow: 2px 2px 0 #400;
    border-radius: 15px;
    border-style: solid;
    border-color: #FF9200;
    background-color:#000000;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    float: left;
    padding: 0;
    margin: 0;
}


h1 {

	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

main {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}


section {
    margin-top: 100px;
    margin-bottom: 50px;
    overflow: auto;
}

article {
    padding-top: 20px;
    display:block;
    border:6px solid #FF9200;
    border-top:0;
    border-left:0;
    border-radius: 15;
    width:70%;
    position:relative;
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #000000;
    color: #FFFFFF;
    bottom:6px;
    right:6px;
    opacity:.80;
    *filter:alpha(opacity="80");
    overflow: show;
}

h2, h3, legend {
    border-bottom: solid 1px #FF9200;
    font-family: 'Arizonia', cursive;
    font-size: 24px;
}

caption {
    margin-top: 0;
    margin-left: 25px;
    padding: 4px;
    color: #FFFFFF;
    font-family: 'Arizonia', cursive;
    font-size: 30px;
}

.forum {
    margin-top: 25px;
}

.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;

table {
    display: table;
}

table tr {
    display: table-row;
}

table tr td {
    display: table-cell;
}

table thead tr td {
    border-bottom: solid 1px #FF9200;
    font-family: 'Arizonia', cursive;
}

table tbody tr td {
    border-bottom: solid 1px #FF99200;
    text-align: right;
}

td {
}

a {
    color: #FF9200;
    text-decoration: none;
}

img {
    max-width: 50%;
    float: right;
    border: solid 1px #FF9200;
    padding: 3px;
    margin-right: 5px;
    margin-left: 3px;
}

.leader h2, .commissioner h2, .lieutenant h2, .muscle h2 {
    display: table;
    font-size: 30px;
    text-align: center;
}
.leader h3, .commissioner h3, .lieutenant h3, .muscle h3 {
    display: table-row;
}
.leader, .commissioner, .lieutenant, .muscle {
    width: 250px;
    text-align: center;
}
.leader img, .commissioner img, .lieutenant img, .muscle img {
    float: left;
    margin-left: 40px;
}
#desiprof img {
    height: 150px;
}

footer {
    Position: fixed;
    Width: 100%;
    Bottom: 0;
    Height: 40px;
    background: #000000;
    border-top: solid 2px #FF9200;
}

section aside {
    float: right;
    padding-top: 20px;
    display:block;
    border:6px solid #FF9200;
    border-top:0;
    border-left:0;
    border-radius: 15;
    width:20%;
    position:relative;
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #000000;
    color: #FFFFFF;
    bottom:6px;
    right:6px;
    opacity:.80;
    *filter:alpha(opacity="80");
    overflow: visible;
    
}

/* MEDIA QUIERY */

@media only screen and (max-width: 480px){

    
    
    body {
        margin: 0;
        background: url(pics/LSlocobg.jpg) no-repeat;
        background-position: -50px -50px;
        background-attachment: fixed;
    }
    
    header {
        position: fixed;
        top: 0;
        margin: auto;
        width: 100%;
        float: left;
        font-family: 'Arizonia', cursive;
        font-size: 48px;
        color: #000000;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        background: inherit;
        z-index: 1000;
        border: none;
    }
    
    #crew {
        padding-left: 120px;
        padding: 0;
        margin: 0;
        display: block;
        font-family: 'Reenie Beanie', cursive;
        color: #AE0400;
        font-size: 64px;
    }
    
    nav {
        position: fixed;
        z-index: 500;
        margin-top: 0;
        display: table;
        width: 480px;
        background: #000000;
        border-bottom: dashed 2px #FF9200;
        border-top: dashed 2px #FF9200;
    }
    nav ul {
        display: table-row;
        list-style: none;
        background: inherit;
    }
    nav  ul li {
        display: table-cell;
        padding: 3px;
        background: inherit;
    }
    nav ul li a {
         -webkit-transition: all .2s ease-in-out; 
        width: 80px;
        font-family: 'Reenie Beanie', cursive;
        display:inline;
        font-weight:bold;
        color:#ffffff;
        text-shadow: 2px 2px 0 #400;
        border-radius: 15px;
        border-style: solid;
        border-color: #000000;
        background-color:#FF9200;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        float: left;
        padding: 0;
        margin: 0;
    }
    nav ul li a:hover {
         -webkit-transform: scale(1.1); 
        background: #000000;
    }
    #active a {
        width: 80px;
        font-family: 'Reenie Beanie', cursive;
        display:inline;
        font-weight:bold;
        color:#ffffff;
        text-shadow: 2px 2px 0 #400;
        border-radius: 15px;
        border-style: solid;
        border-color: #FF9200;
        background-color:#000000;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        float: left;
        padding: 0;
        margin: 0;
    }
    
    main {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    
    section {
        width: 480px;
        padding-top: 250px;
        overflow: auto;
        margin-bottom: 40px;
    }
    
    article {
        display:block;
        border:6px solid #FF9200;
        border-top:0;
        border-left:0;
        border-radius: 15;
        width:80%;
        position:relative;
        margin-left: 20px;
        padding-left: 10px;
        margin-bottom: 20px;
        background: #000000;
        color: #FFFFFF;
        bottom:6px;
        right:6px;
        opacity:.80;
        *filter:alpha(opacity="80");
    }
    
    h2, h3 {
        border-bottom: solid 1px #FF9200;
        font-family: 'Arizonia', cursive;
        font-size: 24px;
    }
    
    caption {
        margin-top: 0;
        margin-left: 25px;
        padding: 4px;
        color: #FFFFFF;
        font-family: 'Arizonia', cursive;
        font-size: 30px;
    }
    
    .forum {
        margin-top: 25px;
    }
    
    
    table thead tr td {
        padding-top: 5px;
        border-bottom: solid 1px #FF9200;
        font-family: 'Arizonia', cursive;
    }
    
    table tbody tr td {
        text-align: right;
        font-size: 14px;
        padding: 2px;
    }
    
    td {
        
        border-bottom: solid 2px #FF99200;
    }
    
    a {
        color: #FF9200;
        text-decoration: none;
    }
    img {
        width: 150px;
        float: right;
        height: auto;
        border: solid 1px #FF9200;
        padding: 3px;
        margin-right: 5px;
        margin-left: 3px;
    }
    
    .leader h2, .commissioner h2, .lieutenant h2, .muscle h2 {
        display: table;
        font-size: 30px;
        text-align: center;
    }
    .leader h3, .commissioner h3, .lieutenant h3, .muscle h3 {
        display: table-row;
    }
    .leader, .commissioner, .lieutenant, .muscle {
        width: 250px;
        text-align: center;
    }
    .leader img, .commissioner img, -lieutenant img, .muscle img {
        float: left;
        margin-left: 40px;
    }
    #desiprof img {
        height: 150px;
    }
    
    footer {
    Position: fixed;
    Width: 100%;
    Bottom: 0;
    Height: 40px;
    background: #000000;
    border-top: solid 2px #FF9200;
    }

}